<mat-card>

  <mat-card-content *ngIf="!!form">
    <form class="form-container" (ngSubmit)="submit()" [formGroup]="form">

      <mat-form-field class="full-width">
        <input matInput placeholder="name" formControlName="name" type="text" name="email">
        <mat-error *ngIf="form.controls['name'].hasError('required')">name is required</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="email" formControlName="email" type="email" name="email">
        <mat-error *ngIf="form.controls['email'].hasError('required')">email is required</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="password" formControlName="password" type="password" name="password">
        <mat-error *ngIf="form.controls['password'].hasError('required')">password is required</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="phone" formControlName="phone" type="string" name="phone">
        <mat-error *ngIf="form.controls['phone'].hasError('required')">phone is required</mat-error>
      </mat-form-field>

      <button type="submit" mat-button> register </button>
    </form>
  </mat-card-content>
</mat-card>
